*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin-left: 8%;
    margin-right:8%;
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
}
.list{
    width: 390px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    
}
.list img{
    height: 100px;
    width: 160px;
    margin-bottom: 7px;
}
.box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.box h5{
    padding-left: 10px;
    margin-bottom: 7px;
}
.box :hover{
    background-color: silver;
}
.box img :hover{
    background-color: silver;
}
